@model  DiarioEmocional.ModelView.PsicoterapeutaModelView
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}



    <form asp-action="RegisterPost" asp-controller="Psicoterapeuta" class="form-signin" id="login-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="text-center mb-4">
            @*<img class="mb-4" src="\img\icon192x192.png" alt="" width="72" height="72">*@
            <h1 class="h3 mb-3 font-weight-normal">Cadastrar Psicólogo</h1>
        </div>

        <div class="form-label-group">
            <input type="email" id="inputEmail" asp-for="Email" class="form-control" placeholder="E-mail" required autofocus>
            <label for="inputEmail">E-mail</label>
        </div>
        <div class="form-label-group">
            <input type="text" asp-for="UserName" name="UserName" id="UserName" class="form-control" placeholder="Usuário">
            <label for="UserName">Usuário</label>
        </div>
        <div class="form-label-group">
            <input type="password" id="inputPassword" asp-for="Password" name="password" class="form-control" placeholder="Senha" aria-describedby="passwordHelpBlock" required>
            <label for="inputPassword">Senha</label>
            <small id="passwordHelpBlock" class="form-text text-muted">
                Sua senha deve ter entre 8 e 20 caracteres, os quais DEVEM CONTER letras e números, sem espaços.
            </small>
        </div>

        @*<div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>*@
        @*<div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Senha</label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>*@
        <div class="form-group row" style="display:none">
            <label asp-for="RoleName" col-sm-4 col-form-label"></label>
            <div class="col-sm-6">
                <select asp-for="RoleName" class="form-control">
                    <option>Psicoterapeuta</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-primary col" />
            <a asp-controller="Paciente" asp-action="Login" class="btn btn-dark col">Voltar</a>
        </div>
    </form>

<div>
    
</div>