@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <div class="col-md-12 col-sm-6">
        <div class="row d-inline-flex d-md-inline">
            
           <a asp-controller="Paciente" asp-action="Login"><img src="~/img/img2.jpg" /></a>
</div>

    </div> 
</div>
