@model DiarioEmocional.Models.Registro

@{
    ViewData["Title"] = "Edit";
}
@*<h4>Registro</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Editar Registro">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmocaoID" class="control-label"></label>
                    <select asp-for="EmocaoID" class="form-control" asp-items="ViewBag.EmocaoID"></select>
                    <span asp-validation-for="EmocaoID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IntensidadeID" class="control-label"></label>
                    <select asp-for="IntensidadeID" class="form-control" asp-items="ViewBag.IntensidadeID"></select>
                    <span asp-validation-for="IntensidadeID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Situacao" class="control-label"></label>
                    <input asp-for="Situacao" class="form-control" />
                    <span asp-validation-for="Situacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comportamento" class="control-label"></label>
                    <input asp-for="Comportamento" class="form-control" />
                    <span asp-validation-for="Comportamento" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="ID" />
                <input type="hidden" asp-for="UsuarioInclusao" />
                <input type="hidden" asp-for="DataInclusao" />
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

<h1>Editar Emoção</h1>
<hr />
<div class="row justify-content-center">

    <div class="col-11">
        <form asp-action="Editar Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <select asp-for="EmocaoID" class="form-control form-control-lg" asp-items="ViewBag.EmocaoID">
                    <option hidden>Emoção</option>
                </select>
            </div>
            <div class="form-group row">
                <input asp-for="Situacao" class="form-control form-control-lg" placeholder="Digite o que encadeou essa emoção" />
                <span asp-validation-for="Situacao" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <select asp-for="IntensidadeID" class="form-control form-control-lg" asp-items="ViewBag.IntensidadeID">
                    <option hidden>Intensidade</option>
                </select>
            </div>

            <div class="form-group row">
                <input asp-for="Comportamento" class="form-control form-control-lg" placeholder="Digite como você reagiu diante dessa situação" />
                <span asp-validation-for="Comportamento" class="text-danger"></span>
            </div>
            <div class="form-group row">


                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input type="checkbox" autocomplete="off" asp-for="EnviarPsicoterapeuta"> Enviar ao psicólogo
                    </label>
                </div>
            </div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="UsuarioInclusao" />
            <input type="hidden" asp-for="DataInclusao" />
            <div class="form-group row">
                <div class="col">
                    <input type="submit" value="Salvar" class="btn btn-success btn-lg btn-block" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-dark btn-lg btn-block">Voltar </a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
